// Specific CSS for your home-page

.pic {
  background-size: cover;
  width:100%;
  height:100%;
}

.carousel-title {
  position: absolute;
  top: 30%;
  left: 10%;

  h1 {
  color: black;
  font-size: 50px;
  font-weight: bold;
  }
}

.carousel-item{
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative
}


.carousel-title-light {
  position: absolute;
  top: 30%;
  left: 10%;

  h1 {
  color:#f1f1f1;
  font-size: 50px;
  font-weight: bold;
  }

  p{
    color:#f1f1f1
  }
}

.carousel-title-bg-overlay {
  position: absolute;
  top: 30%;
  left: 10%;
  background: #00000052;
  text-shadow: 1px 1px 2px #000;
  border-radius: 7px;
  padding: 16px;

  h1 {
    color:#f1f1f1;
    font-size: 50px;
    font-weight: bold;
    }

    p{
      color:#f1f1f1
    }

}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6%;
}
