.photo {
  height:100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}


.bgcolor{
  background-color: rgb(208, 198, 198);
}

.btn-primary{
  background-color: black;
  border-color: black;
}

.space{
  padding-top: 15px;
  padding-bottom: 25px;
}

.padding-link{
  padding-top: 10px;
}

.descriptioncontainer {
  max-width: 70vw;
  margin: auto;
  margin-top: 30px;
}
