.photo {
  height:100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}


.bgcolor{
  background-color: rgb(255, 255, 255);
}

.btn-primary{
  background-color: black;
  border-color: black;
}

.space {
  padding-top: 10px;
  padding-bottom: 10px;
}

.space-button{
  padding-top: 10px;
  padding-bottom: 20px;
}

.padding-link{
  padding-top: 10px;
}

.descriptioncontainer {
  max-width: 70vw;
  margin: auto;
  margin-top: 30px;
}

.cl {
  background-color: rgb(253, 254, 255);
}

.border{
  border-color: rgb(252, 253, 253);
  border: 2px;
}
