.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.card{
  border: 3px solid black;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
